spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 1      # max connections for free DB
      minimum-idle: 1           # minimum idle connections
      idle-timeout: 30000       # 30 sec idle timeout
      connection-timeout: 30000 # 30 sec to get connection
      pool-name: HikariPool

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
